/*
  - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

  */
@use "../helpers/mixins";
* {
  box-sizing: border-box;
}
:root {
  --dark-mode-elemnts: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --txt-color: hsl(200, 15%, 8%);
  --elements-color: hsl(0, 0%, 52%);
  --elements-bgcolor: hsl(0, 0%, 100%);
  --bg-color: hsl(0, 0%, 98%);
  --filter: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--txt-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
::placeholder {
  color: var(--txt-color);
  font-size: 14px;
  letter-spacing: 1.5px;
}
.container {
  padding: 20px;
}
@include mixins.mediaBreakpoints($min-width: "min-width:1440px") {
  .container {
    padding: 40px 60px;
  }
}
